.LoginPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #053758;
}
.LoginPageContainer {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
}
.WelcomeText {
  text-align: center;
  margin-bottom: 20px;
}
.WelcomeText h1 {
  margin: 0;
  font-size: 32px;
  color: #333333;
}
.WelcomeText p {
  margin: 5px 0;
  color: #383737;
}
.LoginForm {
  display: flex;
  flex-direction: column;
}
.LoginForm p {
  margin-bottom: 10px;
  color: #333333;
  align-self: center;
}
.LoginForm input {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.LoginForm input:focus {
  border-color: #053758;
  outline: none;
  background-color: #c3c4cf;
}
.LoginForm button {
  padding: 10px;
  background-color: #053758;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.LoginForm button:hover {
  background-color: #042a4e;
  transform: scale(1.1);
}
.RegisterLink {
  text-align: center;
  margin-top: 15px;
}
.RegisterLink p {
  color: #333333;
}
.RegisterLink a {
  color: #053758;
  text-decoration: none;
}
.RegisterLink a:hover {
  text-decoration: underline;
}
